@model ACCI_Center.Entity.CandidateInformation

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Phiếu Dự Thi</title>
</head>
<body>
    <h1>Phiếu Dự Thi</h1>
    <p>Họ tên: @Model.HoTen</p>
    <p>Số báo danh: @Model.MaTTThiSinh</p>
    <p>Phòng thi:</p>
</body>
</html>

